@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-primary: "#202A44";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

header {
  font-family: "Syne", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

footer {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
  overflow-wrap: break-word;
  hyphens: auto;
}
h4 {
  font-size: 40px;
  line-break: 45px;
}
p,
input,
textarea,
button {
  font-family: "Sora", sans-serif;
  font-size: 15px;
  line-height: 24px;
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--blue-primary);
  outline-offset: -1px;
}

section,footer {
  padding-left: 128px;
  padding-right: 128px;
}

.aboutTop {
  background-image: linear-gradient(to right bottom, #000000ab, #000000ab),
    url(../images/accordion-about.png);
  background-position: center;
  height: 400px;
}



@media screen and (min-width: 1536px) {
  section, footer {
    padding-left: 135px;
    padding-right: 135px;
  }
  footer a {
    font-size: 13px;
  }
}

@media screen and (max-width: 1536px) {
  p,
  input,
  textarea {
    font-size: 12px;
    line-height: 22.5px;
  }
  a {
    font-size: 14px;
  }
  footer a {
    font-size: 10px;
  }
  h4 {
    font-size: 30px;
  }

  section, footer {
    padding-left: 128px;
    padding-right: 128px;
  }
  .aboutTop {
    height: 300px;
  }
}


@media screen and (min-width: 768px) {
  .unset {
    position: unset;
  }
}
@media screen and (max-width: 768px) {
  header a, a:hover {
    display: block;
    padding: 8px;
    font-size: 15px;
  }

  section,footer {
    padding-left: 40px;
    padding-right: 40px;
  }
  
}

@media screen and (max-width: 500px) {
h4{
  font-size: 25px;
}
  }

.css-coaelp-MuiPaper-root-MuiAccordion-root:first-of-type {
  border-radius: 20px;
}
.css-coaelp-MuiPaper-root-MuiAccordion-root {
  background-color: transparent !important;
}
.css-1g2s7ly-MuiPaper-root-MuiAccordion-root {
  background-color: transparent !important;
}
.css-1g2s7ly-MuiPaper-root-MuiAccordion-root {
  box-shadow: none;
}
.css-1g2s7ly-MuiPaper-root-MuiAccordion-root::before {
  display: none;
}

.hero-container {
  position: relative;
  overflow: hidden;
}

.hero-content {
  position: relative;
  z-index: 1; /* Ensure content is above the image */
}

.hero-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: right;
  transition: background-image 0.5s ease;
}

.hero-1 {
  background-image: url("/images/hero-1.png");
}

 .hero-2 {
  background-image: url("/images/hero-2.png");
}

.hero-3 {
  background-image: url("/images/hero-3.png");
}

 .hero-4 {
  background-image: url("/images/hero-4.png");
}
