@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-primary: "#202A44";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  font-family: "Syne", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

footer {
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  overflow-wrap: break-word;
  hyphens: auto;
}
h4 {
  font-size: 2.5rem;
line-height: 3rem;
}
p,
input,
textarea,
button {
  font-family: "Sora", sans-serif;
  font-size: 1.06rem;
  line-height: 2rem;
  hyphens: none !important;
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--blue-primary);
  outline-offset: -1px;
}

section,footer {
  padding-left: 8%;
  padding-right: 8%;
}

.aboutTop {
  background-image: linear-gradient(to right bottom, #000000ab, #000000ab),
    url(../images/accordion-about.png);
  background-position: center;
  height: 400px;
}



@media screen and (min-width: 1536px) {
 
  footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1536px) {
  p,
  input,
  textarea {
    font-size: 1.1rem;
  }
  
}


@media screen and (min-width: 1280px) {
  .unset {
    position: unset;
  }
  .scroll{
    overflow-y: unset;
  }

}

@media screen and (max-width: 1200px) {
  .scroll{
    overflow-y: auto;
  }
  main{
    padding-top: 5rem;
  }
}
@media screen and (max-width: 768px) {
  header a {
    display: block;
    padding: 8px 0;
    font-size: 1rem;
    font-weight: 500;
  }


  .aboutTop {
    height: 200px;
  }
  
}

@media screen and (max-width: 500px) {
h4{
  font-size: 1.8rem;
  line-height: 2rem;
}

a{
  font-size: 1rem;
}

  }



.hero-container {
  position: relative;
  overflow: hidden;
}

.hero-content {
  position: relative;
  z-index: 1; /* Ensure content is above the image */
}

.hero-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: right;
  transition: background-image 0.5s ease;
}

.hero-1 {
  background-image: url("/images/hero-1.png");
}

 .hero-2 {
  background-image: url("/images/hero-2.png");
}

.hero-3 {
  background-image: url("/images/hero-3.png");
}

 .hero-4 {
  background-image: url("/images/hero-4.png");
}
 .hero-5 {
  background-image: url("/images/hero-5.png");
}

.card-shadow{
  box-shadow: 0px 62px 103.5px 20px #C9C9C940;

}
.about-shadow{
  box-shadow: 0px 18px 46.3px 0px #00000008;
}

.form-shadow{
  box-shadow: 0px 4px 72.6px 0px #00000014;

}


@media screen and (max-width: 1600px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 75%;
  }

  .h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}

.slick-slide > div {
  margin: 0 10px;
 
}